@font-face {
    font-family: 'Inter';
    src : url('../../../fonts/Inter.ttf');
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: #fff;
}

nav {
    margin: 0 80px 0 80px;
}

div.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0 0 0;
}

.logo {
    width: 51px;
    height: 40px;
}

div.lien-redirection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

div.lien-redirection ul {
    font-family: 'Inter';
    color: black;
    font-size: 18px;
    font-weight: 700;
    height: 22px;
}

.barre {
    display: inline-block;
    height: 2px;
    width: 100%;
    background-color: black;
}

a {
    text-decoration: none;
    margin: 0;
}