.hero-banner {
    position: relative;
    height: 100%;
    background-image: url('../../../public/images/hero-banner-picture.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 80px;
    margin: 64.5px 0 0 0;
    overflow: hidden;
}

.hero-banner::after {
    content: ''; /* Vide pour apparaitre */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 15%;
    background: linear-gradient(to top, rgba(255,255,255,1), rgba(255,255,255,0));
    pointer-events: none; /* Permet aux clics de passer à travers ? */
}

.hero-text {
    margin: 80px 0 80px 0;
}

.hero-text svg {
    margin: 0 0 40px 0;
}

/* Stylised text for hero banner */
.hero-container-stylised-text {
    display: flex;
    flex-direction: column;
    margin: 0 0 40px 0;
}
.row-stylised-text {
    display: flex;
    margin-bottom: 5px;
}

.row-stylised-text:last-child {
    margin-bottom: 0;
}

.box-stylised-hero-text {
    font-family: Inter;
    font-size: 48px;
    font-weight: 800;
    padding: 8px 10px;
    color: black;
}
.red-extrabold { background-color: #BB0000; font-weight: 800; }
.yellow-extrabold { background-color: #EAD200; font-weight: 800; }
.green-extrabold { background-color: #35CA32; font-weight: 800; }

.box-stylised-text:not(:last-child) {
    margin-right: 5px;
}

.intro-text {
    margin: 100px 80px 104px 80px;
}

.box-stylised-intro-text {
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    padding: 8px 10px;
    color: black;
}
.red-bold { background-color: #BB0000; font-weight: 600; }
.yellow-bold { background-color: #EAD200; font-weight: 600; }
.green-bold { background-color: #35CA32; font-weight: 600; }

.intro-text > .hero-container-stylised-text > .row-stylised-text > .box-stylised-intro-text:first-child {
    margin: 0px 5px 0 0;
}

.row-stylised-text > [class="box-stylised-intro-text"]:first-child {
    padding: 8px 10px 8px 0;
}

.comma { padding: 8px 10px 8px 0; }

.explanatory-text-container {
    display: flex;
    flex-direction: column;
    margin: 0 80px 104px 80px;
    gap: 80px;
}

.explanatory-text-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.explanatory-text-content svg {
    flex-shrink: 0;
}

.explanatory-text {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 40px;
}

.explanatory-text__left {
    display: flex;
    flex-direction: column;
    margin: 0 40px 0 0;
}

.reason-text-container {
    margin: 0 80px 104px 80px;
}

.reason-text-content__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}
@media (max-width: 950px) {
    .reason-text-content__container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }
}

.reason-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 20px 0;
}

.reason-title h3 {
    margin: 0 0 0 40px;
}

.text-action-container {
    display: flex;
    flex-direction: column;
    margin: 0 80px 104px 80px;
    gap: 20px;
}