.hero-banner {
    height: 100%;
    background-image: url('../../../public/images/hero-banner-picture.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 80px;
    margin: 64.5px 0 0 0;
}

.hero-text {
    margin: 80px 0 80px 0;
}

.hero-text svg {
    margin: 0 0 40px 0;
}

.hero-container-stylised-text {
    display: flex;
    flex-direction: column;
    margin: 0 0 40px 0;
}
.row-stylised-text {
    display: flex;
    margin-bottom: 5px;
}

.row-stylised-text:last-child {
    margin-bottom: 0;
}

.box-stylised-text {
    font-family: Inter;
    font-size: 48px;
    font-weight: 800;
    padding: 10px;
    color: black;
}
.red { background-color: #BB0000; }
.yellow { background-color: #EAD200; }
.green { background-color: #35CA32; }

.box-stylised-text:not(:last-child) {
    margin-right: 5px;
}

.intro-text {
    margin: 100px 80px 104px 80px;
}

.explanatory-text-container {
    display: flex;
    flex-direction: column;
    margin: 0 80px 104px 80px;
    gap: 80px;
}

.explanatory-text-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.explanatory-text-content svg {
    flex-shrink: 0;
}

.explanatory-text {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 40px;
}

.explanatory-text__left {
    display: flex;
    flex-direction: column;
    margin: 0 40px 0 0;
}

.reason-text-container {
    margin: 0 80px 104px 80px;
}

.reason-text-content__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.reason-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 20px 0;
}

.reason-title h3 {
    margin: 0 0 0 40px;
}

.text-action-container {
    display: flex;
    flex-direction: column;
    margin: 0 0 104px 80px;
    gap: 20px;
}