.title-container {
    margin: 106px 80px 20px 80px;
}

.title-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin: 0 0 32px 0  ;
}

.title-text-illustration {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.title-content p {
    margin: 10px 0 0 0;
}

.categories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.categories ul {
    font-family: 'Inter';
    color: black;
    font-size: 18px;
    font-weight: 700;
    height: 22px;
}